@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  margin: 0;
  font-family: 'Pretendard', sans-serif;
}

/* 사용자 정의 스타일 */
.swiper-container {
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.icon {
  filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1); /* 기본 색상 */
}

.scrolled .icon {
  filter: hue-rotate(0deg) saturate(1) brightness(0.3) contrast(1.2); /* 스크롤 시 색상 변경 */
}

.slick-slide {
  transition: transform 0.5s ease;
}

.slick-center .slick-slide {
  @apply transform scale-110; /* 활성 슬라이드를 더 크게 보이도록 설정 */
}

.slick-slide:focus {
  outline: none; /* 포커스 상태에서 outline 제거 */
}

/* .line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
