@tailwind base;
@tailwind components;
@tailwind utilities;

/* 사용자 정의 스타일 */
.swiper-container {
  height: 100vh;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

.icon {
  filter: hue-rotate(0deg) saturate(1) brightness(1) contrast(1); /* 기본 색상 */
}

.scrolled .icon {
  filter: hue-rotate(0deg) saturate(1) brightness(0.3) contrast(1.2); /* 스크롤 시 색상 변경 */
}
